{% extends 'base.html' %}
{% block content %}
    <div class="logHero">How We Calculate</div>
    <div class="CalculationInformation">
        <h1>Transport</h1>
        <p>By asking the user the mode of travel to school/work, the distance and frequency travelled, users can gauge the differences in emissions based on how they choose to travel</p>

        <h1>Food</h1>
        <p>Food emissions are calculated based on the amount of different types of foods purchased per week. These values are then applied over the course of the year. </p>

        <h1>Overnight</h1>
        <p>By asking users questions related to conscious decisions they make when they go to sleep, users can calculate the differences in potential lifestyle changes over the course of the year.</p>
    </div>
{% endblock %}