{% extends "base.html" %}

{% block content %}
    <body>
    <div class="logHero">{{ name }}'s Entries</div>
    <div class="ViewLogpage">
    <h2 style ="color:white;">Delete Logs</h2>
     <a href="{{ url_for('log.log_main') }}">Back To Exercise Log</a>
    {% if logs %}
        <div class="field">
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Exercise</th>
                    <th>Duration (minutes)</th>
                    <th>Intensity</th>
                    <th>Comments</th>

                </tr>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.date }}</td>
                        <td>{{ log.exercise_type }}</td>
                        <td>{{ log.duration }}</td>
                        <td>{{ log.intensity }}</td>
                        <td>{{ log.comments }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    </div>


{% endblock %}